<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="UploadSettings" type="Tfs.FileDistributor.Forms.UploadSettingsConfigSection, Tfs.FileDistributor.Forms" />
	</configSections>
	<UploadSettings>
		<UploadSettings>
			<UploadSetting uploadType="GIT" active="true" color="-13001304" description="git" />
			<UploadSetting uploadType="NAS" active="true" color="-9821628" description="nas" />
			<UploadSetting uploadType="FTP" active="true" color="-5806297" description="ftp" />
		</UploadSettings>
	</UploadSettings>
</configuration>